<div class="row login-block login" style=" min-height: 65%">
  <div class="row">
		<div class="col-sm-3"></div>
		<div class="col-sm-6">
			<div id="slider">
				<ul>
					<li>
						<div class="slider-container">
							<h4>Explore network of networks</h4>
							<h5>Leverage semantics technology to visualize transaction data as a graph to help analyze the flow of transactions.</h5>
						</div>
					</li>
					<li>
						<div class="slider-container">
							<h4>Holistic view of customer</h4>
							<h5>Integrate multiple sources of data to get a holistic 360 degree view of your customer and their underlying network.</h5>
						</div>
					</li>
					<li>
						<div class="slider-container">
							<h4>Faster time to market</h4>
							<h5>Quickly incorporate new sources of data to add value to existing data &amp; enable faster time to market.</h5>
						</div>
					</li>
					<li>
						<div class="slider-container">
							<h4>Advanced search and analytics</h4>
							<h5>Leverage search and query feature to richer and more meaningful analysis of the network data.</h5>
						</div>
					</li>
				</ul>
			</div>
		</div>
		<div class="col-sm-3"></div>
	</div>
	<div class="row">
		<div class="col-sm-3"></div>
		<div class="col-sm-6">
			<ml-input qtext="ctrl.qtext" search="ctrl.search(qtext)"  suggest="ctrl.suggestAdvanced(val)"  template="app/search/ml-input.html"></ml-input>
		</div>
		<div class="col-sm-3"></div>
	</div>
	<div class="row">
		<div class="col-sm-3">
		</div>
		<div class="col-sm-2" style="margin-left:40px;">
			<a href="/search">
				<i class="fa fa-4x fa-search" style="margin-left: 10px; color:#28375B">
				</i><br/><br/>
				<p style="padding-left:10px;">Data 360</p>
			</a>
		</div>
		<div class="col-sm-2" style="margin-left:-20px;">
			<a href="/events">
				<i class="fa fa-4x fa-cubes" style="margin-left: 10px; color:#28375B">
				</i><br/><br/>
				<p style="padding-left:10px;">Explore Network</p>
			</a>
		</div>
		<div class="col-sm-2" style="margin-left:20px;">
			<a href="/upload">
				<i class="fa fa-4x fa-gear" style="margin-left: 10px; color:#28375B">
				</i><br/><br/>
				<p style="padding-left:10px;">Data Hub</p>
			</a>
		</div>
		<div class="col-sm-3"></div>
	</div>
		<!--
		<div class="jumbotron login-box zz animated bounceInRight">
      <div class="login-tile " ng-repeat="(k,v) in users " ng-click="login(k)">
        <h3>{{ v.label }}</h3>
        <p>{{ v.desc }}</p>
        <button class="btn btn-sm btn-warning" ng-hide="v.disabled">Analyze {{ v.label }}</button>
        <button class="btn btn-disabled" ng-show="v.disabled" disabled>Coming Soon</button>
      </div>
    </div>
		-->
  </div>
</div>
