<div class="detail analysis-buttons" >
    <h4>Analysis:</h4>
	   <button type="button" class="btn btn-info" ng-click="ctrl.openMapModal()">Geospatial</button>
	   <button type="button" class="btn btn-info" ng-click="ctrl.openGraphModal('merchant')">Link</button>
</div>
<div class="row detail">
  <div class="col-sm-12">
		<div class="row">
			<div class="col-sm-3">
				<!--left col-->
				<ul class="list-group">
					<li class="list-group-item text-muted" contenteditable="false">
						Profile
					</li>
					<li class="list-group-item text-right">
                <span class="pull-left">
                  <strong class="">Name</strong>
                </span>
						{{ ctrl.json.content.CDT_NAME1 | strReplace:'_':' ' }}
					</li>
					<li class="list-group-item text-right">
                <span class="pull-left">
                  <strong class="">Direction: </strong>
                </span>
						{{ ctrl.json.content.DIRECTION || "N.A." }}
					</li>
					<li class="list-group-item text-right">
                <span class="pull-left">
                  <strong class="">Revenue: </strong>
                </span>
						{{ ctrl.json.content.DBT_AMT | currency }}
					</li>
					<li class="list-group-item text-right">
                <span class="pull-left">
                  <strong class="">Employees </strong>
                </span>
						{{ ctrl.json.content.CDT_AMT | currency }}
					</li>
					<li class="list-group-item text-right">
                <span class="pull-left">
                  <strong class="">Industry </strong>
                </span>
						{{ "N.A."}}
					</li>
					<li class="list-group-item text-right">
                <span class="pull-left">
                  <strong class="">Source</strong>
                </span>
						{{ ctrl.json.headers.source || ctrl.json.root.sourceID || "N.A."}}
					</li>
					<li class="list-group-item text-right">
                <span class="pull-left">
                  <strong class="">Active Since</strong>
                </span>
						{{ctrl.json.headers.last_updated || ctrl.json.root.incorporation_date || "N.A"}}
					</li>

				</ul>

			</div>
			<!--/col-3-->
			<div class="col-sm-9 dash-summary" contenteditable="false" style="">
				<div class="row">
					<div class="col-lg-3 col-md-6">
						<div class="panel panel-primary">
							<div class="panel-heading">
								<div class="row" style="height:70px;">
									<div class="col-xs-3">
										<i class="fa fa-calculator fa-5x"></i>
									</div>
									<div class="col-xs-9 text-right">
										<h3>{{ctrl.json.content.NO_TRANS}}</h3>
									</div>
								</div>
							</div>
							<div class="panel-footer">
								<span class="pull-left">Total Transactions</span>
								<span class="pull-right"><i class="fa fa-info-circle"></i></span>

								<div class="clearfix"></div>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-6">
						<div class="panel panel-success">
							<div class="panel-heading">
								<div class="row" style="height:70px;">
									<div class="col-xs-3">
										<i class="fa fa-dollar fa-5x"></i>
									</div>
									<div class="col-xs-9 text-right">
										<h3>{{ctrl.merchantSummary.incomingSummary.amount | currency}}</h3>
									</div>
								</div>
							</div>
							<div class="panel-footer">
								<span class="pull-left">Incoming Funds</span>
								<span class="pull-right"><i class="fa fa-info-circle"></i></span>

								<div class="clearfix"></div>
							</div>

						</div>
					</div>
					<div class="col-lg-3 col-md-6">
						<div class="panel panel-danger">
							<div class="panel-heading">
								<div class="row" style="height:70px;">
									<div class="col-xs-3">
										<i class="fa fa-sign-out fa-5x"></i>
									</div>
									<div class="col-xs-9 pull-left">
										<h3>{{ctrl.json.content.DBT_AMT | currency}}</h3>
									</div>
								</div>
							</div>
							<div class="panel-footer">
								<span class="pull-left">Outgoing Funds</span>
								<span class="pull-right"><i class="fa fa-info-circle"></i></span>
								<div class="clearfix"></div>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-6">
						<div class="panel panel-info">
							<div class="panel-heading">
								<div class="row" style="height:70px;">
									<div class="col-xs-3">
										<i class="fa fa-map-marker fa-5x"></i>
									</div>
									<div class="col-xs-9 text-right trunc">
										<h3>N.A.</h3>
									</div>
								</div>
							</div>
							<div class="panel-footer">
								<span class="pull-left">Merchant Location</span>
								<span class="pull-right"><i class="fa fa-info-circle"></i></span>
								<div class="clearfix"></div>
							</div>
						</div>
					</div>
				</div>

				<div class="panel panel-default target">
					<div class="panel-heading" contenteditable="false">Merchant Transactions</div>
					<div class="panel-body">
						<div class="col-sm-12">
							<table class="table">
								<tr>
									<th width="25%">Transaction Type</th>
									<th width="25%">Date</th>
									<th width="25%">Amount</th>
									<th width="25%">Merchant</th>
								</tr>
							</table>
							<table ng-if="ctrl.json.content.DIRECTION == 'Outgoing'" class="table">
								<tr>
									<td width="25%">
										<i class="icon fa fa-dollar fa-lg"></i>
										{{ ctrl.json.content.DIRECTION }}
									</td>
									<td width="25%">{{ ctrl.json.content.TRN_DATE }}</td>
									<td width="25%">{{ ctrl.json.content.DBT_AMT | currency }}</td>
									<td width="25%">{{ ctrl.json.content.DBT_NAME1 }}</td>
								</tr>
							</table>
							<table ng-if="ctrl.json.content.DIRECTION == 'Incoming'" class="table">
								<tr>
									<td width="25%">
										<i class="icon fa fa-dollar fa-lg"></i>
										{{ ctrl.json.content.DIRECTION }}
									</td>
									<td width="25%">{{ ctrl.json.content.TRN_DATE }}</td>
									<td width="25%">{{ ctrl.json.content.DBT_AMT | currency }}</td>
									<td width="25%">{{ ctrl.json.content.CDT_NAME1 }}</td>
								</tr>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
  </div>
  </div>
</div>
