<html>

<head>
	<base href="/" />
	<meta charset="utf-8" />
	<title>BAML GTS NoN</title>
	<meta name="description" content="" />
	<meta name="viewport" content="width=device-width" />
	<link rel="shortcut icon" th:href="@{images/favicon.ico}" />
	<link rel="stylesheet" href="/app/libs/ml-lodlive/ml-lodlive.css" />
	<link rel="stylesheet" href="/app/libs/ml-lodlive-ng/ml-lodlive-ng.css" />
	<link rel="stylesheet" href="/bower_components/openlayers/ol.css" />
	<link rel="stylesheet" href="/app/libs/ml-ol-maps-ng/ml-ol-maps-ng.css" />
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Amiko|Open+Sans" />
	<!-- bower:css -->
	<!-- endbower -->
	<!-- inject:css -->
  <!-- endinject -->
</head>

<body ng-app="app">
	<script src='/bower_components/openlayers/ol.js'></script>

	<ui-view></ui-view>
  <!-- bower:js -->
  <!-- endbower -->
  <!-- inject:js -->
  <!-- endinject -->



</body>

</html>
