<html>

<head>
	<base href="/" />
	<meta charset="utf-8" />
	<title>BAML GTS NoN</title>
	<meta name="description" content="" />
	<meta name="viewport" content="width=device-width" />
	<link rel="shortcut icon" th:href="@{images/favicon.ico}" />
	<link rel="stylesheet" href="/app/libs/ml-lodlive/ml-lodlive.css" />
	<link rel="stylesheet" href="/app/libs/ml-lodlive-ng/ml-lodlive-ng.css" />
	<link rel="stylesheet" href="/bower_components/openlayers/ol.css" />
	<link rel="stylesheet" href="/app/libs/ml-ol-maps-ng/ml-ol-maps-ng.css" />
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Amiko|Open+Sans" />
	<!-- bower:css -->
	<link rel="stylesheet" href="bower_components/highlightjs/styles/default.css" />
	<link rel="stylesheet" href="bower_components/ng-json-explorer/dist/angular-json-explorer.css" />
	<link rel="stylesheet" href="bower_components/d3-cloud-ng/dist/d3-cloud-ng.css" />
	<link rel="stylesheet" href="bower_components/split-pane/split-pane.css" />
	<link rel="stylesheet" href="bower_components/angular-tree-control/css/tree-control.css" />
	<link rel="stylesheet" href="bower_components/vis/dist/vis.css" />
	<link rel="stylesheet" href="bower_components/ml-visjs-graph-ng/dist/ml-visjs-graph-ng.css" />
	<link rel="stylesheet" href="bower_components/ng-sortable/dist/ng-sortable.css" />
	<!-- endbower -->
	<link rel="stylesheet" href="/styles/main.css" />
</head>

<body ng-app="app">
	<script src='/bower_components/openlayers/ol.js'></script>

	<ui-view></ui-view>
  <!-- bower:js -->
  <script src='bower_components/jquery/dist/jquery.js'></script>
  <script src='bower_components/angular/angular.js'></script>
  <script src='bower_components/angular-bootstrap/ui-bootstrap-tpls.js'></script>
  <script src='bower_components/angular-cookies/angular-cookies.js'></script>
  <script src='bower_components/highlightjs/highlight.pack.js'></script>
  <script src='bower_components/angular-highlightjs/build/angular-highlightjs.js'></script>
  <script src='bower_components/angular-mocks/angular-mocks.js'></script>
  <script src='bower_components/angular-ui-router/release/angular-ui-router.js'></script>
  <script src='bower_components/x2js/xml2json.min.js'></script>
  <script src='bower_components/angular-x2js/dist/x2js.min.js'></script>
  <script src='bower_components/bootstrap/dist/js/bootstrap.js'></script>
  <script src='bower_components/lodash/lodash.js'></script>
  <script src='bower_components/ml-common-ng/dist/ml-common-ng.js'></script>
  <script src='bower_components/ml-search-ng/dist/ml-search-ng.js'></script>
  <script src='bower_components/ml-search-ng/dist/ml-search-ng-tpls.js'></script>
  <script src='bower_components/ml-utils/ml-utils.js'></script>
  <script src='bower_components/ng-json-explorer/dist/angular-json-explorer.js'></script>
  <script src='bower_components/highcharts/highcharts.js'></script>
  <script src='bower_components/highcharts-ng/dist/highcharts-ng.js'></script>
  <script src='bower_components/ml-highcharts-ng/dist/ml-highcharts-ng.js'></script>
  <script src='bower_components/ml-highcharts-ng/dist/ml-highcharts-ng-tpls.min.js'></script>
  <script src='bower_components/d3/d3.js'></script>
  <script src='bower_components/d3-cloud/build/d3.layout.cloud.js'></script>
  <script src='bower_components/d3-cloud-ng/dist/d3-cloud-ng.js'></script>
  <script src='bower_components/split-pane/split-pane.js'></script>
  <script src='bower_components/angular-split-pane/angular-split-pane.js'></script>
  <script src='bower_components/angular-tree-control/angular-tree-control.js'></script>
  <script src='bower_components/angular-sanitize/angular-sanitize.js'></script>
  <script src='bower_components/angular-openlayers-directive/dist/angular-openlayers-directive.min.js'></script>
  <script src='bower_components/vis/dist/vis.js'></script>
  <script src='bower_components/angular-visjs/angular-vis.js'></script>
  <script src='bower_components/ml-visjs-graph-ng/dist/ml-visjs-graph-ng.js'></script>
  <script src='bower_components/ml-visjs-graph-ng/dist/ml-visjs-graph-ng-templates.js'></script>
  <script src='bower_components/ng-sortable/dist/ng-sortable.js'></script>
  <!-- endbower -->
  <script src="/app/EDL/edl.module.js"></script>
  <script src="/app/IDL/idl.module.js"></script>
  <script src="/app/create/create.module.js"></script>
  <script src="/app/detail/detail.module.js"></script>
  <script src="/app/detail/similar.module.js"></script>
  <script src="/app/error/error.module.js"></script>
  <script src="/app/events/events.module.js"></script>
  <script src="/app/harmonize/harmonize.module.js"></script>
  <script src="/app/harmonizeNetworks/harmonize-networks.module.js"></script>
  <script src="/app/home/home.module.js"></script>
  <script src="/app/landing/landing.module.js"></script>
  <script src="/app/login/login.module.js"></script>
  <script src="/app/message-board/message-board.module.js"></script>
  <script src="/app/migrate/migrator.module.js"></script>
  <script src="/app/operationalize/operationalize.module.js"></script>
  <script src="/app/root/root.module.js"></script>
  <script src="/app/search/search.module.js"></script>
  <script src="/app/search/snippet.module.js"></script>
  <script src="/app/settings/settings.module.js"></script>
  <script src="/app/upload/uploader.module.js"></script>
  <script src="/app/user/user.module.js"></script>
  <script src="/app/app.js"></script>
  <script src="/app/EDL/edl.controller.js"></script>
  <script src="/app/IDL/idl.controller.js"></script>
  <script src="/app/create/create.controller.js"></script>
  <script src="/app/detail/data-links.service.js"></script>
  <script src="/app/detail/detail.controller.js"></script>
  <script src="/app/detail/graph-data-modal.controller.js"></script>
  <script src="/app/detail/graph-modal.controller.js"></script>
  <script src="/app/detail/json2html.js"></script>
  <script src="/app/detail/map-modal.controller.js"></script>
  <script src="/app/detail/similar-directive.js"></script>
  <script src="/app/error/errorInterceptor.service.js"></script>
  <script src="/app/events/events.controller.js"></script>
  <script src="/app/flash/AC_RunActiveContent.js"></script>
  <script src="/app/harmonize/harmonize.controller.js"></script>
  <script src="/app/harmonizeNetworks/harmonize-networks.controller.js"></script>
  <script src="/app/home/home.controller.js"></script>
  <script src="/app/landing/landing.controller.js"></script>
  <script src="/app/login/login.controller.js"></script>
  <script src="/app/login/login.directive.js"></script>
  <script src="/app/login/login.service.js"></script>
  <script src="/app/login/loginInterceptor.service.js"></script>
  <script src="/app/message-board/message-board.directive.js"></script>
  <script src="/app/message-board/message-board.service.js"></script>
  <script src="/app/migrate/migrator.controller.js"></script>
  <script src="/app/operationalize/operationalize.controller.js"></script>
  <script src="/app/route/routes.js"></script>
  <script src="/app/root/root.controller.js"></script>
  <script src="/app/search/highcharts.dir.js"></script>
  <script src="/app/search/search.controller.js"></script>
  <script src="/app/search/snippet.directive.js"></script>
  <script src="/app/settings/settings.controller.js"></script>
  <script src="/app/upload/ml-uploader.js"></script>
  <script src="/app/upload/uploader.controller.js"></script>
  <script src="/app/user/profile.controller.js"></script>
  <script src="/app/user/user.directive.js"></script>
  <script src="/app/user/user.service.js"></script>
  <script src="/app/flash/js/main.js"></script>
  <script src="/app/flash/js/swfobject.js"></script>
  <script src="/app/libs/ml-lodlive/ml-lodlive.complete.js"></script>
  <script src="/app/libs/ml-lodlive-ng/ml-lodlive-ng.js"></script>
  <script src="/app/libs/ml-ol-maps-ng/ml-ol-maps-ng-tpls.js"></script>
  <script src="/app/libs/ml-ol-maps-ng/ml-ol-maps-ng.js"></script>
  <script src="/app/scripts/lobipanel/js/lobipanel.js"></script>
  <script src="/app/scripts/lobipanel/js/lobipanel.min.js"></script>
  <script src="/app/scripts/lobipanel/lib/jquery-ui.min.js"></script>
  <script src="/app/scripts/lobipanel/lib/jquery.ui.touch-punch.js"></script>
  <script src="/app/scripts/lobipanel/lib/jquery.ui.touch-punch.min.js"></script>
  <script src="/app/scripts/lobipanel/lib/highlight/highlight.pack.js"></script>



</body>

</html>
